@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: radial-gradient(
    circle at 0% 20%,
    #45016c 0%,
    #251337 23%,
    #040013 47%,
    #1a0229 65%,
    #2c0143 85%
  );
  scroll-behavior: smooth;
  /* min-height: 100dvh; */
  text-transform: uppercase;
}

.home__container::-webkit-scrollbar {
  display: none;
}

.mobile__nav {
  background: radial-gradient(
    circle at 0% 20%,
    #45016c 0%,
    #251337 23%,
    #040013 47%,
    #1a0229 65%,
    #2c0143 85%
  );
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gradient {
  background: radial-gradient(
    circle at 40% 85%,
    #45016c 5%,
    #251337 23%,
    #040013 47%,
    #1a0229 65%,
    #2c0143 85%
  );
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.user {
  background: radial-gradient(circle at 0% 20%, #8161ff 0%, #fb58f5);
}

body::-webkit-scrollbar {
  background: 0;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    #45016c 0%,
    #251337 23%,
    #040013 67%,
    #1a0229 65%,
    #2c0143 100%
  );
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    to left,
    #45016c 0%,
    #251337 23%,
    #040013 67%,
    #1a0229 65%,
    #2c0143 100%
  );
  /* border-radius: 50px; */
}

.playIcon {
  background: radial-gradient(circle at 0% 10%, #2400b4 0%, #ff2df8);
}

.border-gradient {
  border-right: 1px solid;
  border-image: linear-gradient(to right, #ff01f7, #9c22fc, #762ffe) 1;
}

.border-x-gradient {
  border-block: 1px solid;
  border-image: linear-gradient(to right, #ff01f7 50%, #762ffe 80%) 1;
}

@media (max-width: 1090px) {
  .bt {
    border-right: 1px solid;
    border-image: linear-gradient(to right, #ff01f7, #9c22fc, #762ffe) 1;
  }
}

.arrow {
  filter: drop-shadow(10px 7px 10px rgb(62, 1, 88));
}

.filter__button {
  border: 1px solid;
  border-image: linear-gradient(to right, #7304bd 50%, #92018d 80%) 1;
}


.line {
  border: 0.5px solid;
  border-image: linear-gradient(to left, #7304bd 50%, #92018d 80%) 1;
}


.swiper-pagination-bullet-active {
  background-color: #6f42c1;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
